* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

/*Resumen*/
.resumen {
  width: 100vw;
  height: 40vh;
  padding: 100px;
  color: white;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: url(https://wallpapercave.com/wp/wp7373622.jpg);
}
.resumen__egresos,
.resumen__ingresos {
  width: 40%;
  margin: auto;
  padding: 10px;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}
.resumen__monto {
  font-size: 80px;
}
.resumen__ingresos {
  background-color: rgba(35, 182, 55, 0.8);
}
.resumen__egresos {
  background-color: rgb(240, 107, 107, 0.8);
}
/*End Resumen*/
/*Formulario*/
.formulario {
  background-color: rgba(119, 136, 153, 0.2);
  display: flex;
  justify-content: center;
  padding: 20px;
}
.main__formulario {
  width: 50%;
  margin: auto;
}
input,
select,
button {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
}
.formulario__descripcion {
  width: 50%;
}
.formulario__valor {
  width: 15%;
}
.formulario__agregar {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(182, 14, 117);
  color: white;
  font-weight: 700;
  transition: 0.5s;
}
.formulario__agregar:hover {
  background-color: rgb(122, 8, 79);
  transition: 0.5s;
}
/*End Formulario*/
/*Detalles */
.detalles {
  display: flex;
  justify-content: center;
}
.detalles__elementos {
  padding: 30px;
  width: 40%;
}

.detalles__elementos h3 {
  margin-bottom: 20px;
}

.detalles__elementos--ingreso h3 {
  border-bottom: 2px solid rgba(35, 182, 55, 0.8);
}

.detalles__elementos--egreso h3 {
  border-bottom: 2px solid rgb(240, 107, 107, 0.8);
}

.detalles__elementos li {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.detalles__elementos--ingreso li {
  background-color: rgba(158, 223, 166, 0);
}
.detalles__elementos--ingreso li:nth-child(2n) {
  background-color: rgba(129, 218, 140, 0.2);
}
.detalles__elementos--ingreso ul li:hover {
  background-color: rgba(158, 223, 166, 0.6);
}
.detalles__elementos--ingreso ul li:nth-child(2n):hover {
  background-color: rgba(129, 218, 140, 0.4);
}

.detalles__elementos--egreso li {
  background-color: rgba(223, 158, 158, 0);
}
.detalles__elementos--egreso li:nth-child(2n) {
  background-color: rgba(218, 129, 129, 0.2);
}
.detalles__elementos--egreso ul li:hover {
  background-color: rgba(223, 158, 158, 0.6);
}
.detalles__elementos--egreso ul li:nth-child(2n):hover {
  background-color: rgba(218, 129, 129, 0.4);
}

li samp {
  margin: auto 0;
  font-size: 15px;
}

li small {
  margin: auto 10px auto 20px;
}

.delete {
  border: 1px solid crimson;
  color: crimson;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  width: 40px;
}
.delete:hover {
  background-color: crimson;
  color: white;
  transition: 0.5s;
  border: none;
  box-shadow: 2px 2px 6px rgb(212, 74, 102);
}
